In [1]:
# Libraries
import numpy as np                        # Array, Calculation
import pandas as pd                       # DataFrame
import matplotlib.pyplot as plt           # Visualization
import plotly.express as px               # Visualization
import plotly.graph_objects as go         # Visualization
from datetime import datetime, timedelta  # Date-time
import yfinance as yf
import streamlit as st

In [2]:

data = yf.download('aapl', period="5d", group_by="ticker")

[*********************100%***********************]  1 of 1 completed

In [3]:
previousClose=data['Close'][-2]
previousClose

C:\Users\jchreim\AppData\Local\Temp\ipykernel_3388\757874021.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  previousClose=data['Close'][-2]

223.4499969482422

In [4]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-10-31,229.339996,229.830002,225.369995,225.910004,225.910004,64370100
2024-11-01,220.970001,225.350006,220.270004,222.910004,222.910004,65276700
2024-11-04,220.990005,222.789993,219.710007,222.009995,222.009995,44944500
2024-11-05,221.800003,223.949997,221.139999,223.449997,223.449997,28111300
2024-11-06,222.600006,226.065002,221.190002,223.339996,223.339996,34023455

In [7]:
stockData = yf.Ticker('aapl').history(start='2019-01-01', end='2024-10-29')

In [9]:
# Get today's date
today = datetime.now().date()

   # Filter the data for today
today_data = stockData[stockData.index.date == today]

highest_close_today = today_data['Close'].max()
lowest_close_today = today_data['Close'].min()

In [18]:
print(data.index=='2024-10-31')
print(data.index==datetime.now().date())

[False False False False  True]
[False False False False False]

In [26]:
##type(datetime.now().date())
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
todaydata=yf.Ticker('aapl').history(start=datetime.now().date(), end=datetime.now().date())
todaydata.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-30 00:00:00-04:00,232.610001,233.470001,229.550003,230.100006,46951400,0.0,0.0